body {
	font-family: 'Wendy One', sans-serif;
}

.page {
	width: 1098px;
	margin: auto;
	display: block;
}
.title {
	font-size: 70px;
	text-align: left;
	padding-top: 0px;
	padding-left: 5px;
	text-shadow: 2px 2px white;
}

#signup_title {
	font-size: 50px;
}

#addEvent_title {
	font-size: 50px;
	position: relative;
}

#priority {
	width:20px;
}
.priorityButtons {
	width: 40px;

}
#eventTable {
	table-layout: fixed;
}
.inputs {
	position: relative;
	top: 150px;
	font-size: 15px;
}

#signup_form {
	font-size: 15px;
}

#bar {
	display: block;
}

#bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: 100px;
	width: 1098px;
	text-align: left;
	padding-top: 15px;
	box-shadow: 0px 0px 8px 0px #000000;
	background-color: #488AC7;
}

#bar a {
	font-size: 30px;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
	margin: 0px;
	text-decoration: none;
	border: 1px solid #488AC7;
	text-shadow: 1px 1px white;
}

#bar a:hover {
	background-color: #7ABCF9;
	border-top: 1px solid white;
	border-right: 1px solid #333;
	border-left: 1px solid white;
	border-bottom: 1px solid #333;
}

li {
	margin: 0px;
	display: inline-block;
}

