/*General CSS*/
body {
	font-family: 'Wendy One', sans-serif;
	background-color: rgba(173,216,230,.8);
}

.page {
	width: 1098px;
	margin: auto;
	min-height: 90%;
	bottom: 10px;
	/*max-height: 90%;*/
	display: block;
	position: relative;
}

.alert {
	color: red;
}

.title {
	font-size: 70px;
	text-align: left;
	/*padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 20px;*/
	padding: 20px 0px 20px 20px;
	text-shadow: 2px 2px white;
}

li {
	margin: 0px;
	display: inline-block;
}

h1	{
	margin-right: 80px;
}

/*Used for the Top Bar*/
#bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: auto;
	width: 1098px;
	text-align: left;
	/*padding-top: 15px;*/
	box-shadow: 0px 0px 8px 0px #000000;
	background-color: #488AC7;
	z-index: 1;
}

#bar button {
	font-size: 30px;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
	background-color: #488AC7;
	margin: 0px;
	text-decoration: none;
	border: 1px solid #488AC7;
	text-shadow: 1px 1px white;
}

#bar button:hover {
	background-color: #7ABCF9;
	border-top: 1px solid white;
	border-right: 1px solid #333;
	border-left: 1px solid white;
	border-bottom: 1px solid #333;
}

#bar {
	display: block;
	border-radius: 10px;
}

/*Change later*/
.page #current	{
	background-color: #7ABCF9;
	border-top: 1px solid white;
	border-right: 1px solid #333;
	border-left: 1px solid white;
	border-bottom: 1px solid #333;
}

.page	{
	/*background-color: #add8e6;*/
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 8px 0px #000000;
	/*height: 100%;*/
	padding-bottom: 0px;
}

.content .title	{
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 50px;
}

.content 	{
	padding-top: 120px;
	text-align: center;
	/*padding-left: 20px;*/
	margin: auto auto;
	/*display: grid;
	grid-template: "login signup";
	grid-column-definition: auto auto;
	grid-row-definition: auto;*/
}

#Login	{
	/*display: inline;*/
	padding-bottom: 20px;
	border-bottom: 2px solid #000000;
	/*grid-column-position: 1;
	grid-row-position: 1;
	/*grid-area: "login";*/	*/
}

[type="submit"]	{
	font-size: 18px;
	margin: 20px 0;
	padding: 5px;
	border-radius: 5px;
	/*background-color: #1e90ff;*/
	background-color: rgba(30,144,255, .8);
	color: #f5f5f5;
}

#Signup	{
	/*display: inline;*/
	padding-bottom: 100px;
	/*grid-column-position: 2;
	grid-row-position: 1;
	grid-area: "signup";*/
}



/*Sign Up Page*/
#signup_title {
	font-size: 50px;
	text-align: center;

}

#signup_form {
	font-size: 15px;
	/*margin-left: 20px;*/
}

table 	{
	width: 100%;
	
	/*text-align: center;*/
}

table td:first-child	{
	text-align: right;
	padding-bottom: 5px;
	padding-right: 5px;
}

table input 	{
	text-align: left;
}

/*Add Event Page*/
#addEvent_title {
	font-size: 50px;
	position: relative;
}

#priority {
	width:20px;
}

.priorityButtons {
	width: 40px;
}

#eventTable {
	table-layout: fixed;
	font-size: 20px;
}

.startingQuestions {
	font-size: 25px;
}

#loginFail {
	color: red;
}


/*Calendar Page*/
#calendar {
	font-size: 40px;
}


#sidebar {
	width: 165px;
	height: 100%;
	top: 2px;
	position: relative;
	left: 0px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #488AC7;

}

#sidebar ul {
	height: 100%;
	width: 165px;
	top: 118px;
	left: 0px;
	list-style-type: none;
	background-color: #488AC7;
	box-shadow: 0px 0px 8px 0px #000000;
}

#sidebarContent {
	position: absolute;
	width: 135px;
	height: 100%;
	top: 50px;
	left: 15px;
	text-align: left;
	background-color: #488AC7;

	/*top-left: 10px;
*/}

#calendarCanvas {
	top: 130px;
	left: 165px;
	border: 3px solid #000000;
	position: absolute;
	display: block;
	margin: auto;

}

