/*General CSS*/
body {
	font-family: 'Wendy One', sans-serif;
}

.page {
	width: 1098px;
	margin: auto;
	display: block;
	position: relative;
}

.title {
	font-size: 70px;
	text-align: left;
	padding-top: 0px;
	padding-left: 5px;
	text-shadow: 2px 2px white;
}

.inputs {
	position: relative;
	top: 150px;
	font-size: 15px;
}

li {
	margin: 0px;
	display: inline-block;
}

/*Used for the Top Bar*/
#bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: 102px;
	width: 1098px;
	text-align: left;
	padding-top: 15px;
	box-shadow: 0px 0px 8px 0px #000000;
	background-color: #488AC7;
	z-index: 1;
}

#bar button {
	font-size: 30px;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
	background-color: #488AC7;
	margin: 0px;
	text-decoration: none;
	border: 1px solid #488AC7;
	text-shadow: 1px 1px white;
}

#bar button:hover {
	background-color: #7ABCF9;
	border-top: 1px solid white;
	border-right: 1px solid #333;
	border-left: 1px solid white;
	border-bottom: 1px solid #333;
}

#bar {
	display: block;
}

/*Sign Up Page*/
#signup_title {
	font-size: 50px;
}

#signup_form {
	font-size: 15px;
}

/*Add Event Page*/
#addEvent_title {
	font-size: 50px;
	position: relative;
}

#priority {
	width:20px;
}

.priorityButtons {
	width: 40px;
}

#eventTable {
	table-layout: fixed;
}



/*Calendar Page*/
#calendar {
	font-size: 40px;
}


#sidebar {
	width: 165px;
}

#sidebar ul {
	height: 100%;
	width: 165px;
	top: 118px;
	left: 0px;
	list-style-type: none;
	background-color: #488AC7;
	position: relative;
	box-shadow: 0px 0px 8px 0px #000000;

}
#calendarCanvas {
	top: 118px;
	left: 165px;
	width: 933px;
	height: 100%;
	border:3px solid #000000;
	position: absolute;
	display: block;
	margin: auto;

}

